@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Racing+Sans+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f5f5f5;
  --color-solid: #00bfff;
  --color-primary-one: #f0f9fd;
  --color-primary-two: #fcf6fd;
  --color-textColor: #404040;
  --color-gray-50: #7b7b7b;
  --color-black: #1e1e1e;
}

html, body {
    color: var(--color-textColor);
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

.font-arabic {
  font-family: 'Noto Kufi Arabic', 'Tajawal', sans-serif !important;
}

[dir="rtl"] * {
  font-family: 'Noto Kufi Arabic', 'Tajawal', sans-serif;
}


::-webkit-scrollbar {
    display: none;
}

@layer components {
    .max-padd-container {
        @apply mx-auto max-w-[1900px] px-4 lg:px-12
    }

    .padd-container {
        @apply mx-auto px-4 lg:px-12
    }

    .flexCenter {
        @apply flex items-center justify-center
    }

    .flexBetween {
        @apply flex items-center justify-between
    }

    .flexStart {
        @apply flex items-center justify-start
    }

    .flexEnd {
        @apply flex items-center justify-end
    }

    @layer components {
        .btn-solid {
            @apply px-6 py-3 transition bg-[#00bfff] border-gray-500/20 cursor-pointer text-white text-sm rounded-full font-semibold;
        }

        .btn-solid:active {
            @apply scale-95;
        }

        .btn-white {
            @apply px-6 py-3 border rounded-full transition text-blue-500 text-sm font-medium bg-white
        }

        .btn-white:active {
            @apply scale-95;

        }

        .btn-outline {
            @apply px-6 py-3 text-[#404040] transition border border-gray-500/20 text-sm font-semibold rounded-full cursor-pointer
        }

        .btn-outline:active {
            @apply scale-95;

        }

        .btn-light {
            @apply px-6 py-3 text-[#404040] transition border bg-gray-500/10 border-gray-500/20 text-sm font-semibold rounded-full cursor-pointer
        }

        .btn-light:active {
            @apply scale-95;

        }
    }
}

@layer utilities {
  .active-link {
    @apply relative text-[#00bfff];
  }

  .active-link::after {
    content: "";
    position: absolute;
    bottom: -3px;      
    left: 50%;
    transform: translateX(-50%);
    width: 40%;          
    height: 3px;         /* thickness of the underline */
    border-radius: 9999px;
    background-color: #00bfff;
  }

    h1 {
        @apply text-[38px] font-bold md:text-[44px] sm:text-[20px];
    }

    h2 {
        @apply text-[31px] font-bold md:text-[38px];
    }

    h3 {
        @apply text-[24px] font-bold md:text-[31px];
    }

    h4 {
        @apply text-[17px] font-bold md:text-[19px];
    }

    h5 {
        @apply text-[15px] font-bold md:text-[16px] ;
    }


    p {
        @apply leading-[1.3] text-[14px] text-gray-500;
    }
}
